# Auto detect text files and perform LF normalization
*	text=auto

# Custom for Visual Studio
*.cs	diff=csharp
*.sln	merge=union
*.csproj	merge=union
*.vbproj	merge=union
*.fsproj	merge=union
*.dbproj	merge=union
*.pyproj	merge=union
*.props	merge=union
*.targets	merge=union
*.py	diff=python

# FUSEE Custom
*.model	-diff
*.fus	-text -diff

# GitHub Linguist
docs/* linguist-documentation
ext/* linguist-vendored