/* default css */
html, body {
	margin: 0px;
	padding: 0px;
}

body {
	overflow: hidden;
}

#canvas {
	background-color: black;
	margin: 0px;
	border: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

#welcomeMessage {
	font-family: Calibri, Tahoma, Verdana, sans-serif;
	background-color: rgba(32, 32, 32, 1);
	border-color: black;
	border-width: 0px;
	color: white;
	position: absolute;
	z-index: 80;
	padding: 8px;
	margin: -8px;
}

#welcomeMessage a {
	color: #BFBFFF;
}

#fullscreenButton, #loadButton, #quitButton {
	position: absolute;	
	z-index: 90;
}

#loadingProgress {
	background-color: black;
	border: 3px solid white;
	position: absolute;	
	z-index: 99;
}

#progressBar {
	background-color: white;
	border: 1px solid #CCC;
	margin: -1px;
	padding: 0px;
}

#progressText {
	position: absolute;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.66);
	color: white;
	font-family: Consolas, "Courier New", Courier;
	font-size: 9pt;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 6px;
	padding-right: 6px;
}

#log {
	font-family: Consolas, "Courier New", Courier;
	font-size: 9pt;
	margin: 0px;
	border: 0px;
	padding: 0px;
	overflow: hidden;
	position: absolute;
}

#images, #scripts, #sounds {
	display: none;
}

#fonts {
	position: absolute;
	z-index: -99;
	left: 2px;
	top: 2px;
	width: 16px;
	height: 16px;
	background-color: white;
	color: black;
}

#stats {	
	position: absolute;
	font-family: Consolas, "Courier New", Courier;
	font-size: 9pt;
	margin: 0px;
	padding: 0px;
}

.webgl-notice {
	display: inline-block;
	text-align: center;
	width: 100%;
}

#drawsPerSecond, #updatesPerSecond, #cacheSize {
	font-family: Consolas, "Courier New", Courier;
	font-size: 9pt;
	margin: 0px;
	padding: 2px;
	text-align: right;
	display: inline-block;
	width: 4em;
}

#stats, #stats span, #stats span span, #loadingProgress, #progressBar, #progressText, #fullscreenButton, #quitButton, #loadButton, #welcomeMessage, #canvas {
	cursor: default;
}
