# The build process needs this directory
# protoc will generate .py files from .proto files within this directory
# See proto_src/Readme.md for explanation
# 
# Ignore everything in this directory
*
# Except this file
!.gitignore
!protobuf_net/.gitignore


