name: Release-Android - MSBuild

on:
  push:
    branches:
    - master
    - develop
    - feature/GithubActions
  pull_request:
    branches:
    - master
    - develop
    - feature/GithubActions

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1
      
    - name: Setup MSBuild.exe
      uses: warrenbuckley/Setup-MSBuild@v1
      
    - name: Build with MSBuild
      run: msbuild Fusee.sln -r -p:Configuration=Release-Android
